<%= simple_form_for(@tweet) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :message, label: "О чём посплетничаем сегодня?",
                  input_html: { class: "textarea" },
                  wrapper: false,
                  label_html: { class: "label" },
                  placeholder: "Расскажи об этом немедленно!"
      %>
    </div>
  </div>
  <%= f.button :submit, "Пустить сплетни", class: "button is-info" %>
<% end %>