<section class="section">
  <div class="container">
    <div id="main" class="columns">
      <%= render 'hot' %>
      <%= render 'feed' %>
      <%= render 'following' %>
    </div>
  </div>
</section>
