<div class="column is-half">
  <% if user_signed_in? %>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= user_avatar_tag current_user %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'form' %>
      </div>
    </article>
  <% end %>

  <h3 class="title is-3"><%= t '.title' %></h3>
  <%= render 'shared/gossips' %>
</div>
