<div class="column">
  <nav class="panel">
    <p class="panel-heading"><%= t '.gossipmongers' %></p>

    <% @users.each do |user| %>
      <div class="panel-block">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <%= user_avatar_tag user %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= user.name %></strong>
                <small><%= at_username user %></small>
              </p>
            </div>
          </div>
        </article>
      </div>
    <% end %>

  </nav>
</div>