<%= simple_form_for(@gossip) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :message,
                  input_html: { class: "textarea" },
                  wrapper: false,
                  autofocus: true,
                  label_html: { class: "label" }
      %>
    </div>
  </div>
  <%= f.button :submit, t('.submit'), class: "button is-info" %>
<% end %>