/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flags/basic
 *= require flags/flags16
 *= require flags/flags32
 */

$info: #d95fa2;
$primary: #58BF54;
$white: #fdfdfd;
$danger: #F05D65;

@import "bulma";
@import "bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio";
@import "functions";

.notification{
  border-radius: 0;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.error {
  color: $red;
}

a {
  color: $info;
}

.input {
  margin-bottom: $spacing-10;
}

th {
  font-weight: normal;
}

.navbar {
  height: 5em;

  .navbar-brand {
    height: 100%;
    align-items: center;

    .navbar-burger {
      height: 100%;
    }

    .navbar-item {
      height: 100%;
      text-align: center;
      padding: 0 2em;

      h1 {
        color: white;
      }
    }
  }

  .navbar-menu {
    background-color: $info;
  }
}

.f32 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .flag {
    margin: auto 0.5em;
  }
}

.field {
  align-items: center;
}

.menu-list {
  li {
    line-height: 0.25;
  }
  a {
    color: $info;
    padding: $spacing-40;
  }
}

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.level {
  a {
    color: $info;
  }
}

.buttons-level {
  display: flex;
  justify-content: space-between;
}

#avatar-upload-btn {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@include until($desktop) {
  .navbar-menu {
    display: block;
    opacity: 0;

    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-50%);
    transition: all .4s ease-in-out;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}