@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.email-content {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.email-title {
    color: #363636;
}

.email-button {
    color: #fdfdfd;
    background-color: #d95fa2;
    height: 1.50em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.email-field {
    color: #4a4a4a;
    margin: 2em auto;
}

