<div class="email-content">
  <h3 class="email-title"><%= t '.welcome', username: at_username(@resource) %></h3>

  <div class="email-field">
    <%= t '.confirm-message' %>
  </div>

  <div class="email-field">
    <div class="email-control">
      <%= link_to t('.confirm-button'),
                  confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale),
                  class: "email-button"
      %>
    </div>
  </div>
</div>